# Local configuration file (sdk path, etc)
local.properties
keystore.properties
*.apk

# "restricted" information
endpoint.properties


# Windows thumbnail db
Thumbs.db

# Android Studio
*.iml
.idea
.gradle
build/

.DS_Store
/captures
.externalNativeBuild
